<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniMeets</title>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="icon" href="C:\Users\emats\OneDrive\Desktop\3rd SEMESTER 2024-2025\CherriesProj\UniMeets\images\logouni.png" type="image/x-icon">

    <link rel="stylesheet" href="C:\Users\emats\OneDrive\Desktop\3rd SEMESTER 2024-2025\CherriesProj\src\main\resources\static\css\style.css">
    <link rel="stylesheet" href="C:\Users\emats\OneDrive\Desktop\3rd SEMESTER 2024-2025\CherriesProj\src\main\resources\static\css\signup.css">
</head>
<body>
    <div class="form-container">
        <h1 class="form-logo">Join <span class="highlights">UniMeets</span></h1>
        <p class="form-description">Create your profile and start connecting with your campus community!</p>

        <form id="signup-form" class="signup-form" novalidate>
            <div class="input-group">
                <input type="text" id="first-name" placeholder="Full Name" required>
                <span class="error-message"></span>
            </div>

            <div class="input-group">
                <input type="text" id="username" placeholder="Username" required>
                <span class="error-message"></span>
                <input type="email" id="email" placeholder="Email" required>
                <span class="error-message"></span>
            </div>

            <div class="input-group">
                <input type="password" id="password" placeholder="Password" required>
                <span class="error-message"></span>
            </div>

           

            <div class="terms">
                <input type="checkbox" id="terms" required>
                <label for="terms">I agree to the <a href="#">terms and conditions</a></label>
                <span class="error-message"></span>
            </div>

            <button type="submit" class="btn-modern">Sign Up</button>
        </form>

        <p class="form-note">Already have an account? <a href="login.html">Log in</a></p>
    </div>




    
    <script src="C:\Users\emats\OneDrive\Desktop\3rd SEMESTER 2024-2025\CherriesProj\src\main\resources\static\js\main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>